.language-selector{
  background: transparent;
  color: white;
  border: none;
  outline: none;
  font-weight: 800;
  font-size: 14px;
  font-weight: 500;
}
.language-selector option{
  background: transparent;
  outline: none;
  border: none;
  color: black;
  padding: 3px 10px;
  margin: 0 auto;
  border-radius: 10px;
}
@media(max-width: 992px){
  .language-selector{
    margin: 30px;

  }
}