body {
  font-family: 'Gotham Pro';
  overflow-x: hidden;
}

::-webkit-scrollbar-thumb {
  background: #7598FF;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
