.banner {
  padding-bottom: 40px;
  width: 100%;
}
.aa{
  width: 40%;
  margin-right: 50px;
  margin-top: 50px;


}
@media(max-width: 992px){
  .aa{
    margin-top: 50px;
    width: 30%;

  }
}
@media(max-width: 768px){
  .aa{
    width: 90%;
    margin-top: 450px;
    margin-left: auto;
    margin-right: auto;
  }
}
.banner .container1 {
  display: flex;
  flex-direction: row;
  width: 100%;
}

@media(max-width: 768px){
  .banner .container{
    display: flex;
    flex-direction: column;
  }
}
.banner-img{
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
     object-fit: contain;
}

.router_name {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin: 0  auto;
}

@media(max-width: 768px){
  .router_name{
    color: black;
    margin: 0  auto;
 }
}


.banner .banner-titlebox {
  width: 60%;
  padding-bottom: 50px;

}
@media(max-width: 992px){
  .banner .banner-titlebox{
    width: 70%;
  }
}
@media(max-width: 768px){
  .banner .banner-titlebox{
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
  }
}

.banner .banner-titlebox .banner_title {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  margin-top: 50px;
}

@media(max-width: 992px){
  .banner .banner-titlebox .banner_title {
    font-size: 30px;
    
  }
}

@media(max-width: 768px){
  .banner .banner-titlebox .banner_title {
    font-size: 25px;
    margin-top: 100px;
    color: black;
  }
}

.banner .banner-titlebox .banner_subtitle {
  width: 80%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin-bottom: 30px;
}

@media(max-width: 768px){
  .banner .banner-titlebox .banner_subtitle{
    width: 100%;
    color: black;
  }
}

.banner .banner-titlebox a {
  background: #FFFFFF;
  border-radius: 5px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  color: #7598FF;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  font-family: Roboto;
}

@media(max-width: 768px){
  .banner .banner-titlebox a{
    margin: 0 auto;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
}