.banner {
  padding-bottom: 40px;
}

.banner .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
          height: fit-content;
}

@media(max-width: 768px){
  .banner .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 110vh;
    
  }
}

.banner .carousel{
  width: 40%;
  margin-left: -100px;
  margin-right: 100px;
}

@media(max-width: 992x){
  .banner .carousel{
    width: 100%;
    position: absolute;
    margin-top: 200px;
  }
}

@media(max-width: 768px){
  .banner .carousel{
    margin: 0 20%;
    width: 100%;
    position: absolute;
    margin-top: 70%
  }
}

@media(max-width: 400px){
  .banner .carousel{
    margin: 0 20%;
    width: 100%;
    position: absolute;
    margin-top: 100%
  }
}

.banner .carousel-inner{
  width: 100%;
  height: 300px;
}

.banner .carousel-item  {
  width: 100%;
  min-height: 100%;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-align-content: flex-end;
      -ms-flex-line-pack: end;
          align-content: flex-end;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;   
}

@media(max-width: 768px){
  .banner .carousel-item {
    display: flex;
    align-items: center;
  }
}

.banner-img{
  width: 100%;
  max-height: 280px;
  -o-object-fit: contain;
     object-fit: contain;
}

.router_name {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: bold;
  font-size: 20px;
  line-height: 20px;
  color: white;
  margin: 0  auto;
}

@media(max-width: 768px){
  .router_name{
    color: black;
    margin: 0  auto;
  }
}

.banner .desc {
  width: 60%;
  padding-bottom: 50px;
}

@media(max-width: 768px){
  .banner .desc{
    width: 100%;
    margin-top: -50px;
    text-align: center;
  }
}
@media(max-width: 350px){
  .banner .desc{
    margin-top: -100px;

  }
}

.banner .desc .banner_title {
  font-weight: bold;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: white;
  margin-bottom: 10px;
  margin-top: 50px;
}

@media(max-width: 992px){
  .banner .desc .banner_title {
    font-size: 30px;
    
  }
}

@media(max-width: 768px){
  .banner .desc .banner_title {
    font-size: 25px;
    margin-top: 100px;
    color: black;
  }
}

.banner .desc .banner_subtitle {
  width: 80%;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: white;
  margin-bottom: 30px;
}

@media(max-width: 768px){
  .banner .desc .banner_subtitle{
    width: 100%;
    color: black;
  }
}

.banner .desc a {
  background: #FFFFFF;
  border-radius: 5px;
  height: 50px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  color: #7598FF;
  text-decoration: none;
  font-weight: bold;
  font-size: 16px;
  line-height: 21px;
  font-family: Roboto;
}

@media(max-width: 768px){
  .banner .desc a{
    margin: 0 auto;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
  }
}
